body {
  display: flex;
  
  margin: 0;
  padding: 0 15px;
  height: 100vh;
  background-color:#1a1a1a;

  font-family: 'Open Sans', sans-serif;

  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;

  color: white;
  background-color: #1A1A1A;
  
}
@media (min-width: 768px) {
  .container {
    width: 33%;
  }
}

.container h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;

  line-height: 1;

  margin: 0;
}

button {
  font-size:2rem;
  font-weight: bold;
  
  color:white;
  background-color: rgb(255,45,45);
  
  padding:0 2rem;
  margin-top:1rem;
  
  border:none;
  box-shadow:none;
  border-radius: 8px;
}

button:hover {
  background-color:rgba(255,45,45,0.8);
}
